---
import Mainlayout from "../layouts/Mainlayout.astro";
import Aboutimg from "../components/Aboutimg.astro";
---

<Mainlayout>
  <section>
    <h2>ABOUT US</h2>
    <p>
      FIRST CLASS SECOND HAND IS A COPENHAGEN BASED SECONDHAND BOUTIQUE
      SPECIALIZED IN SELECTING AND SELLING FINE VINTAGE CLOTHES AND ACCESSORIES.
    </p>

    <h2>SELL WITH US</h2>
    <p>
      Du er velkommen til at besøge os i vores åbningstider og aflevere dit
      tøj/accessories i renset eller vasket tilstand. Tøjet bliver udvalgt alt
      efter stand og kvalitet.
    </p>
    <p>
      Tøjet/accessories vil være udstillet i butikken i 2 måneder fra
      indleveringsdatoen, og det er dit ansvar at hente det igen, hvis det ikke
      bliver solgt.
    </p>

    <h2>50%</h2>
    <p>
      Din andel af salget udgør 50% af salgsprisen, som vil blive overført til
      din bankkonto.
    </p>

    <h2>FOR ALL INQUIRIES</h2>
    <p>
      Regarding products for sale, collaborations, or any other questions,
      please don't hesitate to contact us at +45 38 34 94 85.
    </p>

    <h2>VISIT US</h2>
    <address>VISIT US AT GODTHÅBSVEJ 57, 2000 FREDERIKSBERG.</address>

    <h2>ÅBNINGSTIDER</h2>
    <p>Tirsdag - Fredag 10 - 17.30</p>
    <p>Lørdag 10 - 14</p>
  </section>
  <Aboutimg />
</Mainlayout>

<style>
  section {
    text-align: center;
    padding: 20px;
  }

  p {
    margin-bottom: 15px;
  }

  address {
    font-style: normal;
  }
</style>
