---
import "/src/css/general.css";
import Nav from "../components/Nav.astro";
// import Fronttext from "../components/Fronttext.astro";
---
<!DOCTYPE>
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>First Class Second Hand</title>
		<link rel="icon" type="image/x-icon" href="public/logo/firstclass-logo-svg/logo.svg">
	</head>
	<body>
	<header>
	</header>
		<main>
	</main>
	<footer>
	</footer>
</body>
</html>
