<section class="image-grid">
  <div class="grid-item">
    <img src="../img/01.jpg" alt="Image 1" />
  </div>
  <div class="grid-item">
    <img src="../img/02.jpg" alt="Image 2" />
  </div>
  <div class="grid-item">
    <img src="../img/03.jpg" alt="Image 3" />
  </div>
</section>

<style>
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
  }

  .grid-item img {
    width: 80%;
    height: auto;
  }
</style>
