<section>
  <div class="container">
    <div class="intro">
      <h2 class="h2">OM OS</h2>
      <p>
        First Class Second Hand er en secondhand butik beliggende i København med
        fokus på kvalitet, stil og unikke detaljer. Vi har et enkelt og unikt
        koncept, hvor vi tilbyder et bredt udvalg af omhyggeligt udvalgte secondhand
        varer fra både skandinaviske og internationale mærker. Med et konstant
        skiftende og evigt skiftende udvalg, inviterer vi dig til at udforske vores
        alsidige samling af unik secondhand-mode. Besøg os i dag og opdag charmen
        ved bæredygtig mode.
      </p>

      <h2 class="h2">SÆLG MED OS</h2>
      <p>
        Når du vælger at sælge dit tøj med os, bidrager du til bæredygtighed ved at
        forlænge dets levetid og minimere spild af ressourcer. Og det bedste er, at
        du samtidig kan rydde op og tjene penge på det.
      </p>
    </div>
  </div>
  <div class="grid1-1">
    <div class="image-container">
      <div class="image-overlay">
        <h2 class="image-text">01</h2>
      </div>
      <img src="/img/about/01.jpg" alt="Image 1" />
    </div>
    <div class="textbox">
      <h2 class="h3">AFLEVER TØJET</h2>
      <p>
        I vores åbningstider kan du aflevere dit rengjorte eller vaskede tøj og
        tilbehør. Vores personale vil herefter vurdere varernes stand og
        kvalitet.
      </p>
    </div>
  </div>

  <div class="grid1-1">
    <div class="textbox">
      <h2 class="h3">UDSTILLES I 2 MÅNEDER</h2>
      <p>
        Tøjet/accessories vil være udstillet i butikken i 2 måneder fra
        indleveringsdatoen, og det er dit ansvar at hente det igen, hvis ikke
        bliver det bliver solgt.
      </p>
    </div>
  
  </div>
  <div class="grid1-1">
    <div class="image-container">
      <div class="image-overlay">
        <h2 class="image-text">03</h2>
      </div>
      <img src="/img/about/03.jpg" alt="Image 3" />
    </div>
    <div class="textbox">
      <h2 class="h3">50%</h2>
      <p>
        Du er velkommen til at besøge os i vores åbningstider og aflevere dit
        tøj/accessories i renset eller vasket tilstand. Tøjet bliver udvalgt alt
        efter stand og kvalitet.
      </p>
    </div>
  </div>
</section>
<div></div>

<style>
  section {
    padding-left:10px;
    padding-right:10px;
    display: grid;
    /* width:450px; */
    text-align: left;
    padding-bottom: 6rem;
    margin-left: 0px;
    line-height: 1.6;
    margin:0 auto;
  }

.grid1-1 {
  padding:0px;
}  
  p {
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: left;
  }

  .h2 {
    font-family: var(--font-family-roman);
    font-weight: 100 !important;
    font-size: 25px !important;
    line-height: 2;
    text-align: center;

  }
  .intro h2{
    text-align: left;
  }

  .h3 {
    font-family: var(--font-family-roman);
    font-weight: 100 !important;
    font-size: 25px !important;
    line-height: 2;
    text-align: left;
  }
  a {
    text-decoration: underline;
  }
  a:hover {
    color: var(--cta-text);
  }

  .grid1-1 img {
    height:457px;
  width:313px;
  display: grid;
  align-items: center;
  padding:20px;
  margin: 0 auto;

  }
  .image-text {
    color:var(--cta-text);
  }
  .image-overlay 
  {position: absolute;
  }
  @media only screen and (min-width: 769px) {
    .grid1-1 {
      padding-top:105px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 90px;
    }
    .textbox {
      margin-top: 200px;
      text-align: center;
      max-width: 450px;
    }
    section {
    padding-left:50px;
    padding-right:50px;
 
    }
.image-container {
    position: relative;
    text-align: center;

  }

  .image-overlay {
    position: absolute;
    top: -95%;
    right: 17%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    color: var(--cta-text);
  }
  .image-overlay2 {
    position: absolute;
    top: -95%;
    left: -8%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    color: var(--cta-text);
  }
  section {
    display: grid;
    max-width: 1200px;
    text-align: left;
    padding-bottom: 6rem;

    line-height: 1.6;
    margin:0 auto;
  }

  .image-text {
    margin: 0;
    font-size: 65px;
  }
  .grid1-1 img {
    height:675px;
  width:auto;
  display: grid;
  align-items: center;
  padding:20px;

  }
   .grid1-1 {
    height:auto;
    width:auto;
   }
   .intro {
    text-align: center;
   }


  .intro h2, .intro p{
    text-align: center;

  }
  .intro {
    padding-top:60px;
  }
  .container {
  width: auto;
  margin: 0 auto;
  align-items: center;
  }
  }

</style>
