<section>
    <h2 class="h2">ABOUT US</h2>
    <p>
    
First class second hand is a copenhagen based secondhand boutique
specialized in selecting and selling fine vintage clothes and accessories.
    </p>

    <h2 class="h2">SELL WITH US</h2>
    <p>
      Du er velkommen til at besøge os i vores åbningstider og aflevere dit
      tøj/accessories i renset eller vasket tilstand. Tøjet bliver udvalgt alt
      efter stand og kvalitet.
    </p>
    <p>
      Tøjet/accessories vil være udstillet i butikken i 2 måneder fra
      indleveringsdatoen, og det er dit ansvar at hente det igen, hvis det ikke
      bliver solgt.
    </p>

    <h2 class="h2">50%</h2>
    <p>
      Din andel af salget udgør 50% af salgsprisen, som vil blive overført til
      din bankkonto.
    </p>

    <h2 class="h2">FOR ALL INQUIRIES</h2>
    <p>
      Regarding products for sale, collaborations, or any other questions,
      please don't hesitate to contact us at +45 38 34 94 85.
    </p>

    <h2 class="h2">VISIT US</h2>
    <p>Visit us at 
        <a href="https://maps.google.com?q=GODTHÅBSVEJ%2057,%202000%20FREDERIKSBERG" target="_blank">
            Godthåbsvej 57, 2000 Frederiksberg.
        </a>
    </p>
    
    <h2 class="h2">ÅBNINGSTIDER</h2>
    <p>Tirsdag - Fredag 10 - 17.30
    <br>Lørdag 10 - 14</p>
  </section>


  <style>
    section {
        display: grid;
        width: 60%;
        text-align: left;
        padding-bottom: 6rem;
        margin-left: 250px;
        line-height: 1.6; 
    }

    p {
        margin-bottom: 15px;
        line-height: 1.5; 
    }

    .h2 {
        font-family: var(--font-family-roman);
        font-weight: 100 !important;
        font-size: 21px !important;
        line-height: 2; 
    }
    a {

        text-decoration: underline;
    }
    a:hover {
        color:var(--cta-text);
    }

</style>


  