<div class="filter">
    <a class="filterbutton active" data-filter="all">ALL</a>
    <a class="filterbutton" data-filter="top">Top</a>
    <a class="filterbutton" data-filter="bottom">Bottom</a>
    <a class="filterbutton" data-filter="Dresses">Dresses</a>
    <a class="filterbutton" data-filter="4">Jackets</a>
        <a class="filterbutton" data-filter="5">Accessories</a>
  </div>



  

<style>
    .filter {
      padding: 10px 20px;
      letter-spacing: 4px;
      text-decoration: none;
      overflow: hidden;
      transition: 0.2s;
      margin: 5px 0;
      display: flex;
      justify-content: center;
      margin-bottom: 5%;
    }
  
    .filterbutton {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-decoration: none;
      font-size: 24px;
      overflow: hidden;
      transition: 0.2s;
      margin: 5px 0;
    }
  
    .filterbutton.active {
      color: var(--cta-text);
    }
  
  
    @media (max-width: 1145px) {
      .filter {
        flex-direction: column;
        align-items: center;
      }
  
      .filterbutton {
        width: 100%;
        text-align: center;
        font-size: 100%;
      }
    }
  </style>
  <script>

    const filterButtons = document.querySelectorAll(".filterbutton");
    const articles = document.querySelectorAll("article");
  

    let activeButton = document.querySelector(".filterbutton.active");
  
    // Add a click event listener to each filter button
    filterButtons.forEach((button) => {
      button.addEventListener("click", (event) => {
        const filterValue = (event.target as HTMLElement).getAttribute("data-filter");
  
        // Remove the active class from the previous active button
        if (activeButton) {
          activeButton.classList.remove("active");
        }
  
        // Hide all articles
        articles.forEach((article) => {
          if (article instanceof HTMLElement) {
            article.style.display = "none";
          }
        });
  
        if (filterValue === "all") {
          articles.forEach((article) => {
            if (article instanceof HTMLElement) {
              article.style.display = "grid";
            }
          });
        } else {
          const correspondingArticle = document.querySelector(`.filter${filterValue}`);
          if (correspondingArticle instanceof HTMLElement) {
            correspondingArticle.style.display = "grid";
          }
        }
  
        // Add the active class to the clicked button
        activeButton = event.target as HTMLElement;
        activeButton.classList.add("active");
      });
    });
  </script>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    