<section class="fronttext">
<h2>SECOND HAND BUTIK PÅ GODTHÅBSVEJ 57, 2000 FREDERIKSBERG</h2>
</section>

<section>
  <div class="instagram-section">
    <h3>FØLG OS PÅ <a href="https://www.instagram.com">INSTAGRAM</a></h3>
    <!-- https://developers.facebook.com/docs/instagram-basic-display-api -->
  </div>
  <style>
    .fronttext {
      padding:10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  
    .instagram-section h3,
    .instagram-section a {
      font-size: 20px;
    }
    .instagram-section a {
      color:var(--cta-text);
      text-decoration: underline;
    }

    @media only screen and (max-width: 768px) {

      .fronttext h2 {
        font-size:18px;
        padding:0;
        margin-bottom: 25px;
      }

      .instagram-section {
        padding:10px;
      }
    }
    
    
  </style>
</section>
