<section class="fronttext">
  <div><h2>SECOND HAND BUTIK PÅ GODTHÅBSVEJ 57, 2000 FREDERIKSBERG</h2></div>
</section>

<section>
  <div class="instagram-section">
    <h2>Følg os på <a href="https://www.instagram.com">Instagram</a></h2>
    <!-- https://developers.facebook.com/docs/instagram-basic-display-api -->
  </div>
  <style>
    .fronttext {
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .instagram-section h2,
    .instagram-section a {
      font-weight: 200;
    }
  </style>
</section>
