<section class="fronttext">
  <div><h2>SECOND HAND BUTIK PÅ GODTHÅBSVEJ 57, 2000 FREDERIKSBERG</h2></div>
</section>

<section>
  <div class="instagram-section">
    <h3>FØLG OS PÅ <a href="https://www.instagram.com">INSTAGRAM</a></h3>
    <!-- https://developers.facebook.com/docs/instagram-basic-display-api -->
  </div>
  <style>
    .fronttext {
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  
    .instagram-section h3,
    .instagram-section a {
      font-size: 28px;
    }
    .instagram-section a {
      color:var(--cta-text);
      text-decoration: underline;
    }
  </style>
</section>
