<!-- <section class="fronttext">
<div>  <h2>
    SECOND HAND BUTIK PÅ GODTHÅBSVEJ 57, 2000 FREDERIKSBERG
</h2></div>
</section>
<style>
    .fronttext {
        grid-template-columns:1fr 1fr;
        display: flex;
    }
</style> -->