

    <div class="container">
    <div class="pic_1"><a href="#">
        <p>SHOP CLOTHING</a></p>
    </div>
    <div class="pic_2">
        <p><a href="#">SHOP ACCESSORIES</a></p>
    </div>
    </div>
  
<style>
    .container {
        display: grid; 
        grid-template-columns: 1.5fr 2fr; 
        grid-template-rows: 1fr; 
        gap: 0px 6px; 
        grid-template-areas: "pic_1 pic_2"; 
        width: 50%; 
        margin: 0 auto; 
        height: 100px;
        position: relative;
    }

    .pic_1, .pic_2 {
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        height: 550px;
        position: relative;
    }

    .pic_1 p, .pic_2 p {
        position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: var(--secondary-color);
            text-decoration: none;
            padding: 10px;
            font-weight:500;
            font-size:18px;
        }

        a {
            color:white;
            text-decoration:none;
        }
    .pic_1 {
        grid-area: pic_1;
        background-image: url('src/img/landingpage1.webp');
    }

    .pic_2 {
        grid-area: pic_2;
        background-image: url('src/img/cilletestt.webp');
    }
</style>

