<style>
  .header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  .horizontal-navigation {
    flex-grow: 1;
    position: relative;
  }

  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0 130px;
    gap: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-list li a:hover {
    color: var(--cta-text);
  }

  .nav-list li a {
    text-decoration: none;
    padding: 0 10px;
    color: var(--primary-text);
  }

  .logo img {
    width:350px;
    display: block;
    margin: 0 auto;
  }

  .logo {
    flex: 1;
  }

  .cta-button {
    color: white;
    background: #7a1c44;
    padding: 4px 15px 4px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .cta-button:hover {
    background: #9c1652;
    text-decoration: none;
  }

  .cta-button a {
    color: white !important;
  }

  @media only screen and (max-width: 768px) {
    .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      background-color: var(--background-color);
      z-index: 1;
      gap:20px;
    }

    .nav-list.show {
      display: flex;
    }

    .burger-icon,
    .cross-icon {
      display: block;
      font-size: 40px;
      position: absolute;
      right: 15px;
    }

    .cross-icon {
      font-size: 55px;
      color:var(--cta-text);
    }

    .burger-icon:hover {
      color: var(--cta-text);
    }
    .cta-button, .cta-button:hover {
      background: transparent;
    }
    .cta-button a {
      color: var(--primary-text) !important;
    }
 
    .cross-icon {
      display: none;
    }

    .burger-icon.show {
      display: none;
    }

    .cross-icon.show {
      display: block;
    }

    .logo {
      display: none;
    }
  }

  @media only screen and (min-width: 769px) {
    .burger-icon,
    .cross-icon {
      display: none;
    }
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const burgerContainer = document.querySelector(".burger-container");
    const navList = document.querySelector(".nav-list");
    const burgerIcon = document.querySelector(".burger-icon");
    const crossIcon = document.querySelector(".cross-icon");

    function toggleMenu() {
      const isOpen = navList.classList.toggle("show");
      if (burgerIcon) {
        burgerIcon.style.display = isOpen ? "none" : "block";
      }
      if (crossIcon) {
        crossIcon.style.display = isOpen ? "block" : "none";
      }
      document.body.style.overflow = isOpen ? "hidden" : "auto";
    }

    if (crossIcon) {
      crossIcon.style.display = "none";
    }

    if (burgerContainer) {
      burgerContainer.addEventListener("click", toggleMenu);
    }
  });
</script>

<body>
  <header>
    <div class="header">
      <nav class="horizontal-navigation">
        <div class="burger-container">
          <div class="burger-icon" onclick="toggleMenu()">&#9776;</div>
          <div class="cross-icon" onclick="toggleMenu()">		&#215;</div>
        </div>
        <ul class="nav-list">
          <li><a href="#">HOME</a></li>
          <li><a href="/">ABOUT</a></li>
          <li class="logo">
            <img
              src="src/logo/firstclass-logo-svg/logo.svg"
              alt="First Class Second Hand"
            />
          </li>
          <li class="cta-button"><a href="/listeview">SHOP</a></li>
          <li><a href="/">CART(0)</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
